.custom_cms_page .main-heading {
    margin: 100px 0 0;
}

.custom-testimonial-page .main-heading {
    padding: 100px 0 0;
    text-align: center;
}

.custom-testimonial-box {
    padding: 60px 0 0;
}

.custom-testimonial-box .card {
    padding: 16px;
}

.custom-testimonial-box .custom-card .card-body p {
    font-size: 15px;
    padding: 15px 0;
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    .custom_cms_page .main-heading {
        margin: 30px 0 0;
    }
    .custom-testimonial-page .main-heading {
        padding: 10px 0 0;
        margin-bottom: 10px;
    }
    .custom-testimonial-box {
        padding: 30px 0 0;
    }
}