    .faq_inner ul.tabs {
        margin: 0px 0 16px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .faq_inner ul.tabs li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 6px 35px;
        cursor: pointer;
        width: auto;
        text-align: center;
        border-radius: 2px;
        margin: 0 10px;
        font-size: 15px;
        border: 1px solid #ccc;
    }
    
    .faq_inner ul.tabs li.current {
        color: #fff;
        background: #eb5322;
        border-color: #eb5322;
    }
    
    .faq_inner .tab-content {
        display: none;
        padding: 0;
    }
    
    .faq_inner .tab-content.current {
        display: inherit;
    }
    
    .faq_inner .accordian {
        border: 1px solid #ccc;
        margin-bottom: -1px;
    }
    
    .faq_inner .accordian h2 {
        font-size: 16px;
        padding: 10px 20px;
        margin-bottom: -1px;
        line-height: 20px;
        position: relative;
    }
    
    .accordian h2:after {
        position: absolute;
        content: '+';
        right: -1px;
        top: -1px;
        border: 1px solid #ccc;
        width: 40px;
        height: 41px;
        font-size: 30px;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        /* opacity: 0.5; */
        transition: all 0.5s ease-in-out;
    }
    
    .accordian.active h2:after {
        content: '-';
        transition: all 0.5s ease-in-out;
    }
    
    .faq_inner .accordian.active .faq_head {
        background: #eb5322;
        color: #fff;
        margin-bottom: 0;
    }
    
    .faq_content {
        display: none;
        padding: 10px;
    }
    
    .faq_content h5 {
        font-size: 17px;
        line-height: 25px;
        font-weight: 600;
        margin: 15px 0;
    }
    /* Media Query */
    
    @media (max-width: 992px) {
        br {
            display: none;
        }
        .faq_inner ul.tabs li {
            padding: 6px 20px;
            margin: 0 10px 0px 0;
            font-size: 12px;
        }
    }
    
    @media (max-width: 480px) {
        .faq_inner ul.tabs li {
            padding: 6px 10px;
            margin-right: 7px;
            font-size: 13px;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    
    @media (max-width: 360px) {
        .faq_inner ul.tabs li {
            font-size: 11px;
        }
    }