
.msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative;
}

.msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

fieldset:not(:first-of-type) {
    display: none;
}

.msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

.msform .action-button {
    min-width: 100px;
    background: #eb5322;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.msform .action-button:hover,
.msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #eb5322
}

.msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.msform .action-button-previous:hover,
.msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid #eb5322;
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "1";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "2";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "3";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "4";
}
#progressbar #personalInfo::before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #eb5322;
}

.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.fit-image {
    width: 100%;
    object-fit: cover;
}
.search-result{
    margin-top: 25px;
}
.search-data{
    border: 1px solid #d7d7d7;
    padding: 3px 8px;
    background-color: #3a3a3a;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
}
.search-data span{
    cursor: pointer;
}
.product-features li{
    border-bottom: 1px solid #f7f3fc;
}
.details-box{
    border: 1px solid #efefef;
    padding: 10px 0;
    box-shadow: 1px 1px 1px 1px #f8f8f8;
}

.badges{
    background-color: #fafafa;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px;
}