/*Extra large devices (large desktops, 1500px and up)*/

@media (max-width: 1200px) {
    .ratings span {
        display: block;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .custom-service-info .service-icon {
        position: static;
        margin-bottom: 10px;
    }
    .custom-service-info .our-service-detail {
        margin-left: 0;
    }
    .seller__from {
        padding: 16px;
    }
    .sell-item-row .sell-item label {
        font-size: 13px;
    }
}

/*All Small devices */

@media (max-width: 991.99px) {
    .custom-header-wrapper {
        position: static;
    }
    .custom-banner-slider .banner-item img {
        height: auto;
    }
    .custom-bottom-header {
        background: #000;
    }
    .custom-bottom-header .navbar ul ul {
        width: auto;
        display: none;
    }
    .custom-bottom-header .navbar ul li.dropdown:hover > .dropdown-menu {
        display: block;
    }
    .custom-bottom-header .navbar ul li a {
        padding: 10px;
    }
    .navbar-toggler-icon {
        color: #fff;
    }
    .custom-home-listing-wrapper {
        padding: 50px 0;
    }
    .single-property-wrapper {
        padding: 50px 0;
    }
    .offer-category_long_bg {
        height: 250px !important;
    }
    .watch-lading .latest-listing-item.xs-item .listing_cation h3 {
        font-size: 17px;
    }
    .watch-lading .latest-listing-item.xs-item {
        padding: 14px;
    }
    .blog-left .blog-detail-content h4 a {
        font-size: 19px;
        line-height: normal;
    }
    .blog__right-item__right h4 a {
        font-size: 11px;
    }
    .blog__right-item__right p {
        font-size: 10px;
        line-height: 15px;
    }

    .banner___from .form-inline div.form-group {
        flex-basis: 45%;
        padding-right: 0;
        margin: 10px;
    }
}

/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 767px) {
    .custom-top-header {
        display: none;
    }
    button.slick-arrow {
        top: auto;
        bottom: -30px;
    }
    .property-img .property-detail-item img {
        height: auto;
    }
    .t-details .register-id {
        float: none;
    }
    .t-details .popular-room-features.single-property {
        float: none;
    }
    .watch-lading .latest-listing-item {
        margin-bottom: 12px;
        height: auto;
    }
    .center-image.text-center {
        display: none;
    }
    .watch-lading .blog-left .blog-detail-content {
        background: none;
        padding: 14px 0;
        border-bottom: solid 1px #ccc;
        margin-bottom: 44px;
        position: static;
    }
    .blog-left .blog-detail-content * {
        color: inherit;
    }
    .content-bx {
        padding: 22px 0;
    }
    .become-a-section h3 {
        letter-spacing: 0;
        font-size: 22px;
        line-height: normal;
    }
    .become-a-section > div {
        max-width: 91%;
    }
    .become-seller-from {
        padding: 42px 0;
    }
    .seller__content h4 {
        font-size: 17px;
    }
    .seller__content h3 {
        font-size: 30px;
        line-height: normal;
        padding-bottom: 22px;
        margin-bottom: 15px;
    }
    .sell-item-row .sell-item {
        width: 100%;
    }
    .car-latest-collections .nav li {
        margin-right: 24px;
    }
    .seller__content {
        padding-right: 0;
    }
    .prominant-content h2 {
        font-size: 30px;
        line-height: normal;
    }
    .blog-left .blog-detail-content {
        position: static;
        background: #fff;
        padding: 10px 0;
    }
    .capture-buyer h2 {
        font-size: 41px;
        margin-bottom: 19px;
    }
    ol.breadcrumb {
        margin: 0;
    }
    .stm-single-listing-car-features .lists-inline > ul li {
        width: 50%;
    }
    .stm-single-listing-car-sidebar {
        margin: 31px 0;
        border-top: solid 1px #000;
        padding-top: 31px;
    }

    .landing-banner-item .caption h3 {
        font-size: 1.5rem;
    }
    .landing-banner-item .caption h2, .landing-banner-item .caption p{
        font-size: 14px;
        padding-bottom: 10px;
    }

    .search-headtext{
        margin-bottom: 0rem;
    }

    .search-headtext div a {
        margin-top: 10px;
        text-align: left;
    }

    .banner_filter .banner___from .form-group.pos-bottom {
        margin: auto;
        width: 80%;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 574.98px) {
    .banner-form-wrapper .container {
        top: -270px;
    }
    .search-input input {
        height: 40px;
        padding-left: 10px;
        width: calc(100% - 100px);
    }
    .site-btn {
        padding: 10px;
        min-width: 100px;
    }
    .home-content {
        margin: -20px 0 0;
    }
    .comment-container {
        width: 100%;
    }
    .comments {
        padding: 0;
    }
    .stm-single-car-listing-data table.stm-table-main > tbody > tr > td {
        width: 100%;
        float: left;
    }
    .stm-single-car-listing-data table.stm-table-main > tbody > tr > td.divider-td {
        display: none;
    }
    .stm-single-listing-car-features .lists-inline > ul li {
        width: 45%;
    }
    .stm-listing-single-price-title .price {
        min-width: auto;
        padding: 10px;
    }
    .stm-listing-single-price-title .title,
    .stm-listing-single-price-title .price {
        font-size: 18px !important;
    }
    .car-request {
        font-size: 14px;
    }
    .single-product .single-product-images .slider#lightgallery p.save-listing a {
        font-size: 20px;
        padding: 4px 10.5px;
        width: 35px;
        height: 35px;
    }
    .watch-product-item .icon {
        opacity: 1;
    }
    .watch-product-item:hover {
        transform: scale(1);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

@media (max-width: 480px) {
    .banner-form-wrapper .container {
        position: static;
    }
    .search-filter-panel .dropdown {
        flex-wrap: wrap;
    }
    .banner-form-wrapper {
        margin: 10px 0 0;
    }
}

@media (max-width: 400px) {
    .search-filter-panel .dropdown .dropdown-list {
        margin: 0;
        width: 50%;
    }
}
